section.buttons-block
	.container
		.buttons-block--header
			h2.h1 
				span See other useful How To Guides
		.buttons-block--list
			.buttons-block--item
				a.buttons-block--link(href='javascript:;')
					span How to shrink photos
			.buttons-block--item
				a.buttons-block--link(href='javascript:;')
					span How to make a Christmas slideshow
			.buttons-block--item
				a.buttons-block--link(href='javascript:;')
					span How to create a presentation video
			.buttons-block--item
				a.buttons-block--link(href='javascript:;')
					span and much more
