section.description-block
	.container
		.description-wrap
			.description-block--header
				h2.h1
					span Movavi Slideshow Maker
			.description-block--img
				img(src="./images/desc-img_1140.png")
			.desc-text
				p An easy-to-use, yet efficient slideshow making program
				.desc-list
					.desc-item.desc-item__1
						span Create a slideshow with music in 3 simple steps
					.desc-item.desc-item__2
						span Join slides with dynamic transitions
					.desc-item.desc-item__3
						span Add stylish animated titles
					.desc-item.desc-item__4
						span Adjust color, enhance picture quality
		.description-buy
			+buy-block(true)