section.site-block__info-block.info-block
	.container.info-block--container
		.info-block--text-1
			p Making slideshows with music is easy!
		.info-block--text-2
			p Use Movavi Slideshow Maker!
		.info-block--text-3
			ul
				li Create slideshows with music, titles and effects
				li Sequence slides with transitions
				li Export video in popular formats
		.info-block--text-4
			p Download the program and follow the instructions below
		+buy-block