section.main-block
	.container
		.main-block--h1
			h1 How to Make Videos with Pictures and&nbsp;Music

		.main-block--text-1
			p Did you have a great vacation this summer? Give yourself a positive emotional boost for the winter by creating an evocative slideshow with music and titles or a photo collage from your holiday photos! With Movavi Slideshow Maker, you can turn your photos into a movie in just a couple of minutes even if you have no experience in video montage. Interested? Let’s get started!
			
		.main--buy-block
			+buy-block