.steps-wrap
	section.step-block
		.container
			.step--header
				h2
					span.text__orange 1.&nbsp;
					| Install the Program

			.step--text
				p Download Movavi’s slideshow creator and run the installation file. The onscreen instructions will guide you through the setup process. 

	section.step-block
		.container
			.step--header
				h2
					span.text__orange 2.&nbsp;
					| Select the Working  Mode
			.step--content
				.step--image
					img(src="./images/step-2_1140.jpg", alt="")

				.step--text
					p When you launch Movavi’s slideshow maker with the music-adding capability, you’ll see a Welcome window. In this window, you can choose one of two working modes: Easy mode or Full feature mode. If you want to quickly make a slideshow with photos, music and transitions, choose Create slideshow in easy mode. If you want to incorporate video footage, titles, special effects, and other enhancements to your movie, choose Create project in full feature mode. Instructions for both modes follow below. 

	section.step-block.pb__none
		.container
			.step--header
				h2
					span.text__orange 3.&nbsp;
					| Make a Slideshow
			.step--text
				.no-container
					include ./tabs-block.pug
	#anchor-marker
	.tabs--content#tab-content__1.tabs--content__active

		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.1.&nbsp;
							| Upload Photos
					.step--content
						.step--image
							img(src="./images/step_3_1_1140.jpg")

						.step--text
							p Welcome to the Slideshow Wizard! In the <b>first tab</b>, upload your images by clicking <b>+Files</b> or <b>+Folders</b> and choosing the pictures to include. When the uploaded photos appear in the working area, you can drag them into any order, as well as rotate or remove them by clicking the relevant icons on each of the images. You can also set <b>Slide duration</b> in the appropriate field.

		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.2.&nbsp;
							| Add Transitions
					.step--content
						.step--image
							img(src="./images/step_3_2_1140.jpg", alt="")

						.step--text
							p Open the <b>second tab</b>. Here, you can choose the transition style to join your photos, or click <b>No transitions</b> if you don’t want fades in your slideshow. To adjust the speed of transition from one slide to the next, set the <b>Max transition duration</b> in the field below the list of transition styles.

		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.3.&nbsp;
							| Add Music
					.step--content
						.step--image
							img(src="./images/step_3_3_1140.jpg")

						.step--text
							p Open the <b>third tab</b>. To upload your own audio files, click <b>+Audio</b>. To use one of the built-in melodies, click <b>Add one of our tracks</b>. You can also automatically synchronize slide duration to the music tempo. To do this, click the <b>Yes</b> button and set <b>Minimum slide duration</b>. Finally, click <b>Finish.</b>
					.step--content__2
						p Your photo movie is almost ready. Go to Step 4 to learn how to export your slideshow.

		include anchor-linck--block.pug
		+anchor('See Full Feature Mode')(data="tab-content__2")

	.tabs--content#tab-content__2
	
		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.1.&nbsp;
							| Add Your Files to the Program
					.step--content
						.step--image
							img(src="./images/step_3_1_1140.jpg")

						.step--text
							p Click Add Media Files and browse through your photos to choose the ones you want to add to your slideshow. You can also upload videos if you like. All the files you’ve chosen will be added on the timeline at the bottom of the program window. 

		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.2.&nbsp;
							| Add Transitions
					.step--content
						.step--image
							img(src="./images/step_3_2_1140.jpg", alt="")

						.step--text
							p Now you can add fades to your movie to make the transition between images smooth and appropriate in style for the content. Go to the Transitions tab, select a category that appeals to you and pick the style you like best. To add a transition, simply drag and drop it between two videos on the timeline. 

		section.step-block
				.container
					.step--header
						h2
							span.text__orange 3.3.&nbsp;
							| Complete Your Slideshow Music and Titles
					.step--content
						.step--image
							img(src="./images/step_3_3_1140.jpg", alt="")

						.step--text
							p You can also add music to make your movie more engaging. Click Add Media Files and upload the soundtrack of your choice. You can also click Sample audio to use one of the built-in audio files. 

		include anchor-linck--block.pug
		+anchor('See Easy Mode')(data="tab-content__1")

	section.step-block
		.container
			.step--header
				h2
					span.text__orange 4.&nbsp;
					| Save Your Clip
			.step--content
				.step--image
					img(src="./images/step-4_1140.jpg", alt="")

				.step--text
					p Click the <b>Export</b> button and select the appropriate option from the tabs in the upper part of the pop-up window. You can save your slideshow to watch on your computer or mobile device, or prepare it for uploading to the web. When you’re done, click <b>Start</b>. Now you know how to use our handy photo-to-video maker with music, titles and transitions!