section.support-block
	.container
		.support-block--header
			h2.h1 
				span Have questions?
		.support-block--list
			.support-block--item
				a.support-block--link
					span.suport-link--icon.suport-link--icon__visit
					span.suport-link--text Visit Our Support&nbsp;Center
			.support-block--item
				a.support-block--link
					span.suport-link--icon.suport-link--icon__video
					span.suport-link--text Watch our video&nbsp;guides