.tabs--block
	.tabs--header
		.tab--list
			.tab-item.tab-item__first
				a(href="javascript:;" data="tab-content__1").tab--button.tab--button__active
					span Easy Mode
			.tab-item.tab-item__last
				a(href="javascript:;" data="tab-content__2").tab--button
					span Full Feature Mode